<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
        <!--customer form group-->
        <div formGroupName="customer" class="form-area">
          <h3>Customer</h3>
          <div class="row">
            <div class="col-md-2">
              <label for="firstName">First Name</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="firstName" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="lastName">Last Name</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="lastName" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="email">Email</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="email" />
              </div>
            </div>
          </div>
        </div>

        <!--Shipping Address-->

        <div formGroupName="shippingAddress" class="form-area">
          <h3>Shipping Address</h3>
          <div class="row">
            <div class="col-md-2">
              <label for="country">Country</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="country">
                  <option>TO DO</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="street">Street</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="street" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="city">city</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="city" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label for="state">State</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state">
                  <option>TO DO</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="pinCode">Pin Code</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="pinCode" />
              </div>
            </div>
          </div>
        </div>
        <!--Add check box to copy shipping address to billing address -->
        <div class="input-space">
          <label class="au-checkbox">
            <input
              type="checkbox"
              (change)="copyShippingAddressToBillingAddress($event)"
            />
            <span class="au-checkmark"></span>Billing Address same as Shipping
            Address
          </label>
        </div>
        <!--Billing Address-->

        <div formGroupName="billingAddress" class="form-area">
          <h3>Billing Address</h3>
          <div class="row">
            <div class="col-md-2">
              <label for="country">Country</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="country">
                  <option>TO DO</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="street">Street</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="street" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="city">city</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="city" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label for="state">State</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state">
                  <option>TO DO</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="pinCode">Pin Code</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="pinCode" />
              </div>
            </div>
          </div>
        </div>
        <!--Credit card-->

        <div formGroupName="creditCard" class="form-area">
          <h3>Credit Card</h3>
          <div class="row">
            <div class="col-md-2">
              <label for="cardType">Card Type</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="cardType">
                  <option>Visa</option>
                  <option>MasterCard</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="nameOnCard">Name on card</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="nameOnCard" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="cardNumber">Card Number</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="cardNumber" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="securityCode">Security Code</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="securityCode" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label for="expirationMonth">Expiration Month</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationMonth">
                  <option>To do</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label for="expirationYear">Expiration Year</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationYear">
                  <option>To do</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <!--Order details-->
        <div class="form-area">
          <h3>Review Your Order</h3>
          <p>Total Quantity:{{ totalQuantity }}</p>
          <p>Shipping:FREE</p>
          <p>Total Price:{{ totalPrice }}</p>
        </div>
        <!--submit button-->
        <div class="text-center">
          <button type="submit" class="btn btn-info">Purchase</button>
        </div>
      </form>
    </div>
  </div>
</div>
